@mixin flexbox( $flex-direction: row, $justify-content, $align-items ){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin grid($n_rows: 1, $n_columns: 1) {
    display: grid;
    grid-template-rows: repeat($n_rows, auto);
    grid-template-columns: repeat($n_columns, auto);
}
@mixin font-style( $font: $font_normal, $size: $fs_normal, $color: $color_main){
    font-family: $font;
    font-size: $size;
    color: $color;
}