@media only screen and (min-width:769px){
    .mobile{
        display: none;
    }
    .dropdown{
        display: none;
    }
}
@media only screen and (max-width:768px){
    .mobile{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .menu{
        display: block;
    }
    .search-bar input{
        width: 60%;
    }
    .search-bar button{
        width: auto;
    }
    #grid-container{
        @include grid(3, 2);
    }
    #home-cover{
        height: 50vh;
    }
}
@media only screen and (max-width:620px){
    .mobile{
        display: block;
    }
    .dropdown{
        display: none;
    }
    .mobile:hover .dropdown{
        display:block;
    }
    .menu{
        display: none;
    }
}
@media only screen and (max-width:425px){
    .mobile{
        display: block;
    }
    .dropdown{
        display: none;
    }
    .mobile:hover .dropdown{
        display:block;
    }
    .menu{
        display: none;
    }
    .search-bar input{
        width: 30%;
    }
    #grid-container{
        @include grid(6, 1);
    }
    nav img{
        height: 50%;
        width: 50%;
    } 
    #home-cover{
        height: 30vh;
    }
}